@charset 'utf-8';

@import 'clock';
@import 'topbar';
@import 'footer';
@import 'topClock';
@import 'button';

body {
  font-family: "Lucida Console";
  background-color: #eee;
  color: #666;
  margin: 0px;

  display: flex;
  flex-flow: column;
}

#wrapper {
  min-height: 100%;
  margin-top: 30px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
}

#content {
  max-width: 70em;
}
