.clock-name {
  font-size: 1.75em;
  font-weight: 200;
  letter-spacing: -1px;
}

.all-clocks {
  .clock-description {
    display:none;
  }
  .clock-wrapper:hover {
    background-color: #ccc;
    cursor: pointer;
  }
  .clock-wrapper {
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
    background-color: #fff;
    margin-bottom: 1em;
    padding: 5px;
    padding-left: 1em;
    padding-right: 1em;

    .color-clock {
      width: 72px;
      height: 72px;
    }
    .bar-clock, .speed-clock, .year-clock {
      height: 65.5px;
    }
    .digital-clock {
      font-size: 3em;
      font-weight: 200;
      letter-spacing: -1px;
    }
    #roman-time {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.top-clock {
  margin-bottom: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0,0,0,.2);

  .clock-wrapper {
    display: flex;
    // align-content: center;
    flex-direction: column;
    min-height: 336px;

    .color-clock {
      width: 144px;
      height: 144px;
    }
    .bar-clock, .speed-clock {
      height: 100%;
    }
    .bar-clock-attribute, .speed-clock-attribute, .year-clock {
      height: 144px;
    }
    @media screen and (max-width: 640px) {
      .digital-clock {
        font-size: 4em;
        font-weight: 200;
        letter-spacing: -1px;
      }
    }
    @media screen and (min-width: 640px) {
      .digital-clock {
        font-size: 6em;
        font-weight: 200;
        letter-spacing: -1px;
      }
    }
  }
  .clock-attribute {
    align-self: center;
  }
  .clock-description {
    text-align: center;
  }
  .clock-name {
    text-align: center;
  }
}

.bar-clock, .speed-clock {
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
  margin: 0px;
  display: inline-block;
}

.speed-clock {
  width: 100%;
}

.color-clock {
  border-radius: 50px;
}

.larger {
  display: inline;
  font-size: 20px;
}

.smaller {
  display: inline;
  font-size: 1em;
}

.inline {
  display: inline;
}
