
.clock-name {
  font-size: 2em;
  font-weight: 200;
  letter-spacing: -1px;
}

.all-clocks {
  .clock-description {
    display:none;
  }
  .clock-wrapper:hover {
    background-color: #ccc;
    cursor: pointer;
  }
  .clock-wrapper {
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
    background-color: #fff;
    margin-bottom: 1em;
    padding: 5px;
    padding-left: 1em;
    padding-right: 1em;

    .color-clock {
      width: 65.5px;
      height: 65.5px;
    }
    .bar-clock {
      height: 65.5px;
    }
    .digital-clock {
      font-size: 3em;
      font-weight: 200;
      letter-spacing: -1px;
    }
  }
}

.top-clock {
  .clock-wrapper {
    display: flex;
    // align-content: center;
    flex-direction: column;

    .color-clock {
      width: 150px;
      height: 150px;
    }
    .bar-clock {
      height: 150px;
    }
    .digital-clock {
      font-size: 5em;
      font-weight: 200;
      letter-spacing: -1px;
    }
  }
  .clock-attribute {
    align-self: center;
  }
  .clock-description {
    text-align: center;
  }
  .clock-name {
    text-align: center;
  }
}

.top-clock {
  margin-bottom: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
}

.bar-clock {
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
  margin: 0px;
  display: inline-block;
}

.color-clock {
  border-radius: 50px;
}
