#footer {
  clear: both;
  background-color: #333;
  color: #a4a4a4;
  padding: 1em;
  font-size: 14px;
  margin-top: -4em;
  line-height: 1.5em;
  width: 100%;
}

#footer a:hover {
  background-color: #333;
  color: #C6572F;
}

#footer a {
  color: #a4a4a4;
  text-decoration: none;
}
