.top-bar {
  color: #a4a4a4;
  background-color: #333;
  padding: 1em;
  font-size: 1.4em;
}

.top-bar ul {
  background-color: #333;
}

.larger {
  display: inline;
  font-size: 20px;
}

.smaller {
  display: inline;
  font-size: 0.8em;
}

.inline {
  display: inline;
}
