.top-clock {
  margin-bottom: 1em;
  padding: 1em 2em 1em 2em;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.2);

  .clock-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 21em;

    .color-clock {
      width: 12em;
    }
    .bar-clock, .speed-clock {
      height: 100%;
    }
    .map-clock {
      width: 36em;
    }
    .bar-clock-attribute,
    .speed-clock-attribute,
    .year-clock,
    .color-clock,
    .map-clock {
      height: 9em;
    }
    @media screen and (max-width: 640px) {
      .digital-clock, .voice-text {
        font-size: 4em;
        font-weight: 200;
        letter-spacing: -1px;
      }
    }
    @media screen and (min-width: 640px) {
      .digital-clock, .voice-text {
        font-size: 6em;
        font-weight: 200;
        letter-spacing: -1px;
      }
    }
  }
  .clock-attribute {
    align-self: center;
  }
  .clock-description {
    text-align: center;
    max-width: 50em;
  }
  .clock-name {
    text-align: center;
  }
}
