.clock-name {
  font-size: 1.75em;
  font-weight: 200;
  letter-spacing: -1px;
}

.all-clocks {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  // columns: 16em;

  .clock-description {
    display: none;
  }
  .clock-wrapper:hover {
    background-color: #fafafa;
    cursor: pointer;
    z-index: 2;
    box-shadow: 2px 4px 8px 4px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
  }

  .hash-clock .clock-wrapper .digital-clock {
    word-break: break-all;
    font-size: 1em;
  }

  .clock-wrapper {
    border-radius: 2px;
    margin-bottom: 1em;
    padding: 0.5em;
    transition: all 300ms;
    width: 16em;
    height: 6em;

    .color-clock {
      width: 5em;
    }
    .map-clock {
      width: 100%;
    }
    .bar-clock, .speed-clock, .year-clock, .color-clock, .map-clock {
      height: 4em;
    }
    .digital-clock {
      font-size: 2.5em;
      font-weight: 200;
      letter-spacing: -1px;
    }
    #roman-time {
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .voice-text {
      font-size: 1.5em;
      font-weight: 200;
      letter-spacing: -1px;
    }
  }
}

.bar-clock, .speed-clock {
  border-radius: 2px;
  box-shadow: inset 0px 0px 12px 4px rgba(0, 0, 0, 0.2);
  display: inline-block;
  background-color: #fff;
}

.speed-clock {
  width: 100%;
}

h2 {
  color: #ddd;
}
